<h2>Menú</h2>
<ul>
  <li><a href="/products/">lista Productos</a></li>
  <li><a href="/carts/{perdido}">Productos del Carrito</a></li>
  {{! <li><a href="/api/products/realtimeproducts">Con websokets</a></li> }}
</ul>